<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>ID: {{employee.id}}</mat-card-subtitle>
    <mat-card-subtitle>Direct Reports: {{ totalReports(employee.directReports) }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
      <h2>Direct Reports</h2>
      <table>
        <tr *ngIf="reports.length > 0; else elseBlock">
          <th *ngFor = "let column of headers">
            {{ column }}
          </th>
        </tr>
        <ng-template #elseBlock>This employee has no direct reports</ng-template>
        <tr *ngFor="let row of reports">
          <td *ngFor="let column of headers">
            <div *ngIf="row[column]"> {{ row[column] }}</div>

          </td>
        </tr>
      </table>
    </dl>
  </mat-card-content>
</mat-card>